body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexible-content{
    display: flex;
    margin-bottom: 150px;
}
.header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.header-helf{
    width: 50%;
    padding-left: 3%;
    margin-top: 40px;
}
h1{
    font-size: 50px;
}
.myname{
    color: orange;
}
.hireme{
    text-decoration: none;
    color: wheat;
    background-image: linear-gradient(rgb(201, 62, 7),red);
    padding: 10px 30px;
    border-radius: 5px;
}
.header-helf img{
    height: 80%;
    width: 80%;
}

.DREAM-BIG{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.expreience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box-parent{
    display: flex;
    /* border: 2px solid black; */
    margin-bottom: 50px;
}

.box-1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-bottom: 60px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 4px;
    border-left: 4px solid rgb(226, 104, 56);
}

footer{
    
    padding: 20px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(231, 217, 217,0.5);
}
